@model TakeQuestionViewModel

<div class="container w-50 mx-auto">

    <h3>@Model.QuestionText</h3>

    <form asp-action="Answer" method="post">

        <input asp-for="SessionKey" type="hidden" />
        <input asp-for="QuestionId" type="hidden" />
        <input asp-for="Type" type="hidden" />

        @switch (Model.Type)
        {
            case QuestionType.ShortText:
                <input asp-for="AnswerText" class="form-control" />
                break;

            case QuestionType.LongText:
                <textarea asp-for="AnswerText"
                          class="form-control"
                          rows="4"></textarea>
                break;

            case QuestionType.SingleChoice:
                @foreach (var option in Model.Options)
                {
                    <div class="form-check">
                        <input class="form-check-input"
                               asp-for="SelectedOptionId"
                               type="radio"
                               value="@option.Id" />

                        <label class="form-check-label">
                            @option.Text
                        </label>
                    </div>
                }
                break;

            case QuestionType.MultipleChoice:
                @foreach (var option in Model.Options)
                {
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               name="SelectedOptionIds"
                               value="@option.Id" />

                        <label class="form-check-label">
                            @option.Text
                        </label>
                    </div>
                }
                break;

            case QuestionType.Dropdown:
                <select asp-for="SelectedOptionId" class="form-select">
                    <option value="">-- Select --</option>

                    @foreach (var option in Model.Options)
                    {
                        <option value="@option.Id">@option.Text</option>
                    }
                </select>
                break;
        }

        <button type="submit" class="btn btn-primary mt-3 w-100">
            Next
        </button>

    </form>

</div>